.watchdog-module-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 60px);
    width: 100vw;

    .watchdog-info-center {
        display: flex;
        flex-direction: column;
        width: calc(100vw - 180px);
    }
}
