.vision-app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    color: #a8d4e4;
    text-align: center;
    background: #061d3c;
    background: radial-gradient(circle, rgba(0, 11, 115, 0.25) 0%, rgba(0, 0, 84, 0.25) 50%, rgba(2, 0, 36, 0.25) 100%),
        linear-gradient(to bottom, #033246, #090530);

    .top-navbar {
        display: flex;
        flex-direction: row;
        min-height: 60px;
        height: 60px;
        border-bottom: 1px solid #a8d4e4;
        z-index: 2;

        .vision-link {
            text-decoration: none;
            color: #61dafb;

            .vision-icon-div {
                display: flex;
                flex-direction: row;
                min-width: 180px;
                width: 180px;
                height: 60px;
                justify-content: center;
                margin: auto 0;
                background: linear-gradient(to right, #152440, #152842);
                border-right: 1px solid #a8d4e4;

                .vision-icon {
                    margin-left: auto;

                    .vision-app-logo {
                        height: 60px;
                        pointer-events: none;
                    }
                }

                .vision-text {
                    display: flex;
                    margin-right: auto;
                    font-size: 24px;
                    min-height: 60px;

                    .vision-text-span {
                        margin: auto;
                        padding-bottom: 3px;
                    }
                }
            }
        }
        .vision-module-selector {
            display: flex;
            flex-direction: row;

            .styled-link {
                display: flex;
                min-width: 180px;
                width: 180px;
                border-right: 1px solid #a8d4e4;

                .module-name {
                    margin: auto 0 auto auto;
                    color: white;
                    padding: 0 12px;
                }
                .module-icon {
                    margin: auto auto auto 0;
                    color: #c8ae8a;
                }
            }
        }
    }
}

@media (prefers-reduced-motion: no-preference) {
    .vision-app-logo {
        animation: vision-app-logo-spin infinite 4s linear;
    }
}

@keyframes vision-app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
